/* homepage / header styles: */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* cool hover thing maybe?
.laya:hover, .likes:hover, .graphs:hover {
  color: #3e752f;
}
*/

.headerlinks:hover {
  color: #3e752f;
  font-style: italic;
  text-decoration: underline;
}

.likes {
  font-weight: 500;
  margin-right: 4px;
}

h1 {
  font-size: 25pt;
}

h2 {
  margin-top: -10px;
  font-size: 15pt;
  font-weight: lighter;
}

.maincontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 1vh 2vw 0;

}

.maincontent img {
  width: 500px;
  max-width: 100%;
}

.maincontent .block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 2vw 1vh;
}

.maincontent .block p {
  font-size: 25pt;
  margin-bottom: 1px;
  text-align: center;
}

.maincontent .block p:hover {
  font-weight: bold;
  color: #3e752f;
}

/* about page styles: */

.aboutmain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.aboutmain img {
  width: 150px;
  margin-right: 100px;
  margin-bottom: 50px;
}

.aboutmetext {
  white-space: nowrap;
}

.emojis {
  font-size: 25pt;
  letter-spacing: 10px;
}

/* contact page styles: */

.contactmain {
  display: flex;
  justify-content: center;
  align-items: center;
}