:root {
  /* --main1: #dee08a ; */
  --main1: #ffffea ;
  --main2: #fc9a19;
  --main3: #FCFCFC;
  --main4: #c4ffc4;
  /* --main5: #43783D; */
  --main5: #35742e;
  --main6: #22053D;
}

::-moz-selection { 
  color: var(--main6);
  background: var(--main4);
}

::selection {
  color: var(--main6);
  background: var(--main4);
}

html, body {
  font-family: "Gluten", cursive;
  scroll-behavior: smooth;
  background-color: var(--main3);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  color: var(--main6);
}

a, a:active, a:visited, a:focus {
  text-decoration:none;
  display: inline-block; 
  margin: 0;
  padding: 0;
}

.navigation {
  width: 20vw;
  /* min-width: 250px;          
  max-width: 300px;  */
}
.nav-image {
  position: fixed;
  z-index: 1;
  margin-top: 20px;
  background-color: var(--main1);
  /* border-right: solid 4pt #43783D; */

  display: flex;
  justify-content: center;
  width: 18vw;
  min-width: 200px;          
}
.nav-image a{
  width: 90%;
  min-width: 200px;   

}

.nav-image img {
  border-radius: 50%;
  width: 90%;
  min-width: 200px;   
}

.navbar{
  position: fixed;
  background-color: var(--main1);
  border-right: solid 0.2vw #43783D;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 18vw;
  min-width: 200px;          
  height: 100vh;
  font-size: 2.6vw;
}

.navigation-links {
  display: flex;
  flex-direction: column;
  gap: 20pt;
}

.navigation-links a {
  color: var(--main5);
}

.navigation-links a:hover {
  font-style: italic;
}

.main {
  display: flex;
  flex-direction: column;
  /* position: fixed; */
  /* width: 20%;
  min-width: 250px;          
  max-width: 300px;  */
  width:75vw;
}
/* 
.about {
  height: 90vh;
} */

/* .projects {
  height: 90vh;
} */

.experience {
  height: 90vh;
}

.main h1{
  font-size: 50pt;
  margin: 0;
  margin-top: 0.67em;
}

.main h2, h3 {
font-size: 18pt;
font-weight: 100;
font-family: "Montserrat";
font-optical-sizing: auto;
font-weight: 300;
}

.main p {
  font-size: 14pt;
  font-weight: 100;
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: 300;
}

.main .about .text{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 75px;
  line-height: 1.2;
  margin-bottom: -20px;
}

.main .color {
  color: var(--main5);
}

.main .about .me img {
  border-radius: 50%;
  /* border: solid 0.4vw var(--main5); */
  width: 22vw;
  height: 22vw;
  margin-right: 50px;
}

.main .about h2 {
  font-family: "Gluten", cursive;
  font-size: 30pt;
  font-weight: 500;
  margin-bottom: 1vw;
}

.main .tools {
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: 300;} 

/* @keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
} */


.tools {
  display: flex;
  flex-wrap: wrap; 
  gap: 0;
  width: 75vw;
  margin: 0 auto;
}


.tool {
  white-space: nowrap;

  margin: 15px;
  font-size: 18pt;
}

.tool img {
  vertical-align: middle; 
  width: 30px;
  margin-right: 5px;
}

.quicklinks {
  margin-top: 20px;
}

.quicklinks img {
  width: 45px;
  margin-right: 20px;
  filter: grayscale(100%);
}

.project-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 20px;
}
.project {
  width: 23vw;
  min-width: 23vw;;
  height: 30vw;

  text-align: center;
  background-color: var(--main1);
  /* border: solid 2pt #43783D; */
  border-radius: 10%;
}

.project-end {
  background-color: var(--main5);
  color: var(--main3)
}

.projects h1 {
  margin-bottom: 0.67em;
}

#projects, #experience, #contact{
  margin-top: 1vw;
}

.contact .content {
  display: flex;
  justify-content: space-between;
}

.side-smiski {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.side-smiski h3 {
  font-size: 1vw;
  font-style: italic;
  margin-right: -1vw;
}

.side-smiski  img {
  bottom: 0;
  right: 0;
  width: 10vw;
}


@media (max-width: 600px) {
  .project-list {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .project {
    width: 90vw;
  }
}

@media (min-width: 600px) {
  .navbar .navigation-links img{
    display: none;
  }
}

/* For small mobile screens (below 600px) */
@media (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .navigation {
    height: 15vw;
    width: 100vw;
    position: fixed;
    z-index: 10;
    top: 0; 

    background-color: var(--main1);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly ;
    flex-shrink: 0;
    gap: 200px;
    border-bottom: solid 0.2vw #43783D;;
    /* min-width: 250px;          
    max-width: 300px;  */
  }
  .nav-image {
    display: none;
  }
  .navbar img {
    display: block;
    width: 80px;
    min-width: auto;
  }

  .navbar {
    flex-direction: row;
    justify-content: space-evenly ;
    align-items: center;

    width: 100%;
    height: 15vw;
    border-right: none;
    border-bottom: solid 0.2vw #43783D;

    /* font-size: 4vw; */
    margin-right: 0;
    padding-right: 0;

  }

  .navigation-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly ;

    gap: 10px;
    width: 100vw;
  }

  .navigation-links a {
    display: none;
  }

  .main {
    width: 100vw;
    padding-top: 18vw;
  }

  #about, #projects, #experience, #contact {
    scroll-margin-top: 20vw; 
    margin-left: 5vw;
    margin-right: 5vw;
  }

  #projects, #experience, #contact{
    margin-top: 5vw;
  }
  
  .main .about .text {
    gap: 0;
  }
  .main .about .text {
    flex-direction: column;
  }
  .main .about .text .me img {
    width: 50vw;
    height: 50vw;
    margin-bottom: 5vw;
  }

  .main h1 {
    font-size: 28pt;
  }

  .main h2, h3 {
    font-size: 15pt;
  }

  .tool {
    font-size: 12pt;
  }

}