/* homepage / header styles: */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* cool hover thing maybe?
.laya:hover, .likes:hover, .graphs:hover {
  color: #3e752f;
}
*/

.headerlinks:hover {
  color: #1a8513;
  font-style: italic;
  text-decoration: underline;
}

.likes {
  font-weight: 500;
  margin-right: 4px;
}

h1 {
  font-size: 25pt;
}

h2 {
  margin-top: -10px;
  font-size: 15pt;
  font-weight: lighter;
}

.maincontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 1vh 1vw 0;

}

.maincontent img {
  width: 450px;
  max-width: 100%;
}

.maincontent p {
  width: 480px;
}

/* fun lil animation*/
.maincontent .block,
.maincontent .block img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1vw 0;
  
  font-size: 25pt;
  margin-bottom: 0.5vh;
  text-align: center;
  
  transition: transform 0.2s ease;
}

.maincontent .block:hover,
.maincontent .block:hover img {
  font-weight: bold;
  color: #1a8513;
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

/* for mobile image display */
@media screen and (max-width: 570px) {
  .maincontent .block img {
    width: 90vw; 
    height: auto;
  }
  .maincontent p {
    width: 450px;
  }

  .contactmain p {
    font-size: 15pt;
  }
}

/* about page styles: */

.aboutmain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.aboutmain img {
  width: 150px;
  margin-right: 5vw;
}

.aboutmetext {
  width: 365px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-self: start;
}

.aboutmetext .language {
  font-size: 10pt;
  margin-left: 280px;
}

.aboutmetext .language a:hover {
  font-style: italic;
}


/* contact page styles: */

.contactmain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;

  font-size: 1.8em;
}

.contactmain h2 {
  text-align: center;
  font-size: 0.7em;
  margin-bottom: -8px;
}

.contactmain a:hover {
  font-style: italic;
  text-decoration: underline;
}

.contactmain a:hover b {
  font-style: normal;
}
/* gradient animation tutorial from: https://web.dev/speedy-css-tip-animated-gradient-text/ */
.contactmain a:hover .linkedin {
  --bg-size: 400%;
  --color-one: #0077B5;
  --color-two: #72c8f6;
  background: linear-gradient(
                90deg,
                var(--color-one),
                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 8s infinite linear;
}

.contactmain a:hover .instagram {
  --bg-size: 400%;
  --color-one: hsl(283, 61%, 47%);
  --color-two: #feda75;
  background: linear-gradient(
                90deg,
                var(--color-one),
                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 10s infinite linear;
}

.contactmain a:hover .github {
  --bg-size: 400%;
  --color-one: #0b0373;
  --color-two: #9b9aab;
  background: linear-gradient(
                90deg,
                var(--color-one),
                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 8s infinite linear;
}

.contactmain a:hover .mail {
  --bg-size: 400%;
  --color-one: #B23121;
  --color-two: #fe9b92;
  background: linear-gradient(
                90deg,
                var(--color-one),
                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 8s infinite linear;
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}