/* content page styles: */

/* lil navigation */
.backbutton {
  margin-top: -10px;
  margin-left: 10vw;
  font-size: 10pt;
  text-decoration: underline;
}

.backbutton a:hover {
  font-style: italic;
}

/* graph preview */
.showall {
  padding: 5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.showall img {
  margin: 0 1vw 0;
  height: 400px;
  max-height: 100%;
  max-width: 100%;
}

/* top text */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
}

.main h3 {
  text-align: left;
  font-weight: lighter;
  margin: 0 10vw 50px;
}

.main a {
  text-decoration: underline;
  color: #3e752f;
}
.main a:hover {
  font-style: italic;
}

/* code and graph */
code {
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 50px;
  width: 50vw;
}

.codeimages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.codeimages img {
  width: 500px;
  max-width: 100%;
  margin: 10px 50px 0px;
}

.codeimages code {
  width: 500px;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.codeimages p {
  text-align: center;
}
